* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #0b0f18;
}

p {
    font-family: Times New Roman;
    font-size: 16px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 400;
    margin: 24px 0px;
}

#container {
    max-width: 768px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav {
    height: 250px;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 62px;
    height: 40px;

}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    position: sticky;
    top: 0;
    font-size: 16px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 600;
}

.nav-yellow a {
    color: #d3a122;
}

.nav-green a {
    color: #47d47a;
}

.nav-blue a {
    color: #5da0f2;
}

.nav-purple a {
    color: #7b68ba;
}

.nav-red a {
    color: #e26768;
}

h3 {
    font-family: Source Sans Pro;
    font-size: 36px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 14px;
}

.gray-heading {
    color: #7a7c81;
}

a {
    text-decoration: none;
    color: #fff;
}

nav ul li {
    display: flex;
    flex-direction: column;
    list-style: none;
}

span {
    background-color: #1f2937;
    font-size: 12px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 400;
    color: rgb(243, 244, 246);
    padding: 6px;
    margin: 6px 0px;
    border-radius: 5px;
}

h4 {
    font-size: 24px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 600;
    margin: 12px 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#news p {
    margin: 0;
}

#details ul {
    margin: 12px 0px 12px 40px;
}


.instructor-name {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.instructor-details {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h5 {
    font-size: 16px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 600;
    margin: 10px 0;
}

.instructor-details img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.syllabus-details {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 40px;
    align-items: center;
}

.red {
    background-color: #b91c1c;
    text-decoration: underline;
}

.green {
    background-color: #15803d;
    text-decoration: underline;
}

.purple {
    background-color: #6d28d9;
    text-decoration: underline;
}

.blue {
    background-color: #1d4ed8;
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
}

input[type=checkbox]:checked~.hidden {
    visibility: visible;
}

footer {
    text-align: center;
}

@media screen and (max-width:768px) {

    #container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    nav {
        flex-direction: row;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        margin: 0px 4px;

    }
}